.map {
  position: relative;
  overflow: hidden;
}

.layer {
  position: absolute;
}

.tile {
  pointer-events: none;
  position: absolute;
  width: 256px;
  height: 256px;
}

.style-selector {
  padding: 0;
  border: 0;
  .ui-select-match {
    .form-control {
      width: 100%;
    }
  }
}