.features-list {
  padding-left: 0;
}

.map {
  position: relative;
  overflow: hidden;
}

.layer {
  position: absolute;
}

.tile {
  pointer-events: none;
  position: absolute;
  width: 256px;
  height: 256px;
}

.style-selector {
  padding: 0;
  border: 0;
  .ui-select-match {
    .form-control {
      width: 100%;
    }
  }
}

@keyframes blink {
  0%        {opacity: 1}
  40%       {opacity: 0.8}
  50%       {opacity: 0}
  60%       {opacity: 0.8}
  100%      {opacity: 1}
}

.blink {
  animation: blink 3s ease infinite;
}

.menu-right {
  background-color: #EEEEEE;
}

.myGrid {
  width: 800px;
  height: 250px;
}

.highlight {
  background-color: beige !important;
}