<div>

    <!-- address form -->
    <form class="form-inline">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">
                <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
            </span>

            <input 
                ng-model="$ctrl.address.start" 
                type="text" 
                class="form-control" 
                id="startAddress" 
                placeholder="Adresse de départ (ex : 37 rue Monplaisir, Toulouse)">

            <input 
                ng-model="$ctrl.address.stop" 
                type="text" 
                class="form-control" 
                id="stopAddress" 
                placeholder="Adresse d'arrivée">

        </div>
        <button class="btn btn-primary" ng-click="$ctrl.zoomOnPlace(address)">Positionner</button>
    </form>

    <!-- rotate slider -->
    <form class="form-inline">
        <div class="input-group col-xs-3">
            <span class="input-group-addon" 
                    style="width: inherit" 
                    id="basic-addon1">
                Déplacer le curseur pour orienter la carte
                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
            </span>
            <slider class="form-control slider-container" ng-model="$ctrl.rotationAngle" ng-change="$ctrl.rotateMap()" min="0" max="360"></slider>
        </div>

        <button class="btn btn-danger pull-right" ng-click="$ctrl.nextStep()" type="button">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            Passer à l'étape d'édition
        </button>
    </form>

    <!-- POI form -->
    <form class="form-inline">

        <ui-select 
            ng-model="$ctrl.queryChosen" 
            ng-disabled="$ctrl.disabled" 
            theme="bootstrap" 
            ng-change="$ctrl.changeStyle()" 
            class="form-control style-selector" 
            style="width: 200px;">

            <ui-select-match placeholder="Sélectionnez un élément">{{$select.selected.name}}</ui-select-match>

            <ui-select-choices repeat="item in $ctrl.queryChoices | filter: $select.search | layerNotSelected:this.geojson | orderBy:['icon','type']">
                <i class="icon-15px fa fa-{{item.icon}}"></i>
                <i ng-if="item.type === 'point'" class="icon-15px fa fa-map-marker"></i>
                <i ng-if="item.type === 'line'" class="icon-15px fa fa-minus"></i>
                <i ng-if="item.type === 'polygon'" class="icon-15px fa fa-square-o"></i>
                <span ng-bind-html="item.name | highlight: $select.search"></span>
            </ui-select-choices>

        </ui-select>

        <div class="input-group">
            <ui-select 
                ng-model="$ctrl.styleChosen" 
                ng-disabled="$ctrl.disabled" 
                theme="bootstrap" 
                class="form-control style-selector" 
                style="width: 300px;">
                
                <ui-select-match placeholder="Sélectionnez un style">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="item in $ctrl.styleChoices | filter: $select.search" style="max-height: 500px;">
                    <span style="display:inline-block;" ng-bind-html="item.name | highlight: $select.search"></span>
                    <span style="display:inline-block;" ng-bind-html="$ctrl.featureIcon(item, $ctrl.queryChosen.type)"></span>
                </ui-select-choices>

            </ui-select>

            <ui-select 
                ng-if="$ctrl.queryChosen.type === 'polygon'" 
                ng-model="$ctrl.colorChosen" 
                ng-disabled="$ctrl.disabled" 
                theme="bootstrap" 
                class="form-control style-selector" 
                style="width: 300px;">
                
                <ui-select-match placeholder="Couleur de fond">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="item in $ctrl.colors | filter: $select.search" style="max-height: 500px;">
                    <span style="display:inline-block;" ng-bind-html="item.name | highlight: $select.search"></span>
                </ui-select-choices>
            
            </ui-select>

            <span ng-if="$ctrl.queryChosen.type === 'polygon'" class="input-group-addon" id="basic-addon1">
                <input type="checkbox" ng-model="$ctrl.checkboxModel.contour">
                <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
            </span>

        </div>

        <button 
            ng-if="$ctrl.queryChosen.id !== 'poi'" 
            class="btn btn-primary" 
            ng-click="$ctrl.downloadData()" 
            type="button">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 
            Ajouter à la carte
        </button>

        <button 
            ng-if="$ctrl.queryChosen.id === 'poi'" 
            class="btn btn-success" 
            ng-click="$ctrl.downloadPoi()" 
            type="button">
            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
            Ajouter POI
        </button>

    </form>

</div>

<!-- submenu button -->
<div class="mini-submenu" ng-hide="$ctrl.leftMenuVisible">
    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true" ng-click="$ctrl.showMenu()"></span>
</div>

<!-- submenu -->
<div class="col-xs-3 menu-left" ng-show="$ctrl.leftMenuVisible">

    <span class="pull-right" id="slide-submenu" ng-click="$ctrl.hideMenu()">
        <i class="fa fa-times"></i>
    </span>
  
    <ul class="features-list">
        <li ng-repeat="feature in $ctrl.geojson" class="form-inline">
            {{feature.name}}
            <slider 
                class="form-control slider-container" 
                ng-model="feature.simplification" 
                ng-show="feature.geometryType !== 'point'" 
                ng-change="$ctrl.simplifyFeatures(feature)" 
                min="0" 
                max="100">
            </slider>

            <ui-select 
                ng-model="feature.style" 
                ng-disabled="$ctrl.disabled" 
                ng-change="$ctrl.updateFeature(feature.id, feature.style)" 
                theme="bootstrap" 
                class="form-control style-selector" 
                style="width: 150px;">
                
                <ui-select-match placeholder="Sélectionnez un style">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="item in feature.styleChoices | filter: $select.search">
                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                    <div ng-bind-html="$ctrl.featureIcon(item, feature.geometryType)"></div>
                </ui-select-choices>

            </ui-select>

            <slider 
                ng-if="feature.geometryType === 'point'" 
                class="form-control slider-container" 
                ng-model="feature.rotation" 
                ng-change="$ctrl.rotateFeature(feature)" 
                min="0" 
                max="360">
            </slider>
            
            <ui-select 
                ng-if="feature.geometryType === 'polygon'" 
                ng-model="feature.color" 
                ng-change="$ctrl.updateFeature(feature.id, feature.style)" 
                ng-disabled="$ctrl.disabled" 
                theme="bootstrap" 
                class="form-control style-selector" 
                style="width: 300px;">
                
                <ui-select-match placeholder="Couleur de fond">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="item in colors | filter: $select.search" style="max-height: 500px;">
                    <span style="display:inline-block;" ng-bind-html="item.name | highlight: $select.search"></span>
                </ui-select-choices>
                
            </ui-select>

            <span 
                ng-if="feature.geometryType === 'polygon'" 
                class="input-group-addon" id="basic-addon1">

                <input 
                    type="checkbox" 
                    ng-model="feature.contour" 
                    ng-change="$ctrl.updateFeature(feature.id, feature.style)">

                <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>

            </span>

            <button 
                class="btn btn-default" 
                type="button" 
                ng-click="$ctrl.removeFeature(feature.id)">
                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
            </button>
        </li>
    </ul>

</div>

<!-- maps & legend divs -->
<div class="col-md-9 col-xs-12">
    <div id="map"></div>
    <div id="legend"></div>
</div>

<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
