<h3>
    Interaction
</h3>

<h4 class="col-xs-12">
    Filtres
</h4>

<div class="list-filters">
    <form action="" class="form-inline">
        <div class="form-group" ng-repeat="filter in $ctrl.interactions.getFilters()">
            <input type="text" ng-model="filter.name" class="form-control">
            <button class="btn btn-sm remove-button" ng-click="$ctrl.interactions.removeFilter(filter.id)">
                <i class="material-icons">close</i>
            </button>
        </div>
        <button class="btn btn-sm btn-default pull-right" ng-click="$ctrl.interactions.addFilter(name); name = '';">
            <i class="material-icons mat-btn">add</i> Nouveau filtre
        </button>
    </form>

</div>

<h4 class="col-xs-12">
    Liste des éléments
</h4>
<div class="col-xs-12" ng-show="$ctrl.interactions.getInteractions().length === 0">
    <p>
        Pas encore d'interaction définie !
    </p>
</div>

&nbsp;
<div class="list-interaction-container">
    <form>
        <uib-accordion close-others="true" ng-show="$ctrl.showInteractions">
            <uib-accordion-group
                is-open="$ctrl.interactionOpen[poi.id]"
                ng-repeat="poi in $ctrl.interactions.getInteractions()">
                <uib-accordion-heading>
                    <span class="label" ng-class="{'active': poi.id === 'poi-' + $ctrl.currentPoi}"></span> {{poi.id}} {{$ctrl.interactionIsOpen(poi.id)}}
                </uib-accordion-heading>
                <uib-accordion close-others="false">
                    <uib-accordion-group
                        ng-repeat="filter in $ctrl.interactions.getFilters()" class="list-interactions">
                    <uib-accordion-heading>
                        Filtre : {{filter.name}} <small>({{$ctrl.getInteractionsByFilterLength(poi.interactions, filter.id)}} interactions)</small>
                    </uib-accordion-heading>
                        <div class="list-interactions-item" ng-repeat="interaction in poi.interactions | filter: filter.id">
                            <button tooltip-placement="left" uib-tooltip="Supprimer l'interaction" class="btn btn-sm btn-default remove-interaction" ng-click="$ctrl.removeInteraction(poi.id, $index)"><i class="material-icons">delete</i></button> 
                            <div class="col-sm-6 form-group" ng-class="{'has-error': poi.hasError && poi.filterError === interaction.filter}">
                                <label class="control-label" for="gesture">Déclencheur</label>
                                <select id="gesture" ng-model="interaction.gesture" class="form-control input-sm" ng-change="$ctrl.isInteractionHasError(poi)">
                                    <option value="tap">tap</option>
                                    <option value="double_tap">double_tap</option>
                                </select>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label class="control-label" for="protocol">Nature du son</label>
                                <select id="protocol" ng-model="interaction.protocol" class="form-control input-sm">
                                    <option>tts</option>
                                    <option>mp3</option>
                                </select>
                            </div>
                            <div class="col-sm-12 form-group">
                                <input id="valuetts" type="text" class="form-control input-sm"
                                    placeholder="Valeur (ce qui sera lu)"
                                    ng-model="interaction.value"
                                    ng-if="interaction.protocol==='tts'"
                                    style="width:100%">
                                
                                <input id="valuemp3" type="file" class="form-control input-sm"
                                    placeholder="Valeur (le son qui sera joué)"
                                    ng-model="interaction.value"
                                    ng-if="interaction.protocol==='mp3'"
                                    style="width:100%">
                            </div>
                        </div>
                        <div class="list-interactions-footer">
                            <div class="has-error" ng-if="poi.hasError && poi.filterError === filter.id">
                                <span class="help-block">Attention : il ne peut y avoir qu'une seule interaction pour un même filtre et un même déclencheur sur un même élément.</span>
                            </div>
                            <button class="btn btn-sm btn-default pull-right" ng-click="$ctrl.addInteraction(poi.id, filter.id)">
                                <i class="material-icons mat-btn">add</i> Nouvelle interaction
                            </button>
                        </div>
                    </uib-accordion-group>
                </uib-accordion>
            </uib-accordion-group>
        </uib-accordion>
    </form>
</div>

<p class="col-xs-12" ng-if="!$ctrl.currentFeature">
    Veuillez sélectionner un élément pour y ajouter une interaction.
</p>