<h3>
    Dessin
</h3>

<h4 class="col-xs-12">
    Edition
</h4>
<div class="col-xs-12">
    <!-- editing modes -->
    <div class="form-group btn-group">
        <button
            ng-click="$ctrl.enableDrawingMode('select')"
            ng-class="{ 'active' : $ctrl.mode === 'select' }"
            class="btn btn-default"
            aria-label="Editer" title="Editer">
            <span class="fa fa-mouse-pointer" aria-hidden="true" ></span>
        </button>
    </div>
</div>

<h4 class="col-xs-12">
    Formes géométriques
</h4>
<div class="col-xs-12">
    <div class="form-group btn-group">
        <button
            ng-click="$ctrl.enableDrawingMode('point')"
            ng-class="{ 'active' : $ctrl.mode === 'point' }"
            class="btn btn-default"
            aria-label="Point" title="Point">
            <img src="assets/icons/draw_point.png" width="20px" height="20px"/>
        </button>

        <button
            ng-click="$ctrl.enableDrawingMode('line')"
            ng-class="{ 'active' : $ctrl.mode === 'line' }"
            class="btn btn-default"
            aria-label="Ligne (clic droit pour finir)" title="Ligne (clic droit pour finir)">
            <img src="assets/icons/draw_polygon.png" width="20px" height="20px"/>
        </button>

        <button
            ng-click="$ctrl.enableDrawingMode('circle')"
            ng-class="{ 'active' : $ctrl.mode === 'circle' }"
            class="btn btn-default"
            aria-label="Ellipse / Cercle" title="Ellipse / Cercle">
            <img src="assets/icons/draw_ellipse.png" width="20px" height="20px"/>
        </button>

        <button
            ng-click="$ctrl.enableDrawingMode('triangle')"
            ng-class="{ 'active' : $ctrl.mode === 'triangle' }"
            class="btn btn-default"
            aria-label="Triangle" title="Triangle">
            <img src="assets/icons/draw_triangle.png" width="20px" height="20px"/>
        </button>

        <button
            ng-click="$ctrl.enableDrawingMode('square')"
            ng-class="{ 'active' : $ctrl.mode === 'square' }"
            class="btn btn-default"
            aria-label="Rectangle / Carré" title="Rectangle / Carré">
            <img src="assets/icons/draw_rectangle.png" width="20px" height="20px"/>
        </button>

        <button
            ng-click="$ctrl.enableDrawingMode('polygon')"
            ng-class="{ 'active' : $ctrl.mode === 'polygon' }"
            class="btn btn-default"
            aria-label="Polygone (clic droit pour finir)" title="Polygone (clic droit pour finir)">
            <img src="assets/icons/draw_polygon_45.png" width="20px" height="20px"/>
        </button>
    </div>
</div>
<h4 class="col-xs-12">
    Autres
</h4>
<div class="col-xs-12">
    <div class="form-group btn-group">
        <button
            ng-click="$ctrl.enableDrawingMode('addtext')"
            ng-class="{ 'active' : $ctrl.mode === 'addtext' }"
            class="btn btn-default"
            aria-label="Zone de texte" title="Zone de texte">
            <img src="assets/icons/draw_text.png" width="20px" height="20px"/>
        </button>

        <button
            ng-click="$ctrl.enableDrawingMode('image')"
            ng-class="{ 'active' : $ctrl.mode === 'image' }"
            class="btn btn-default"
            aria-label="Importer une image" title="Importer une image">
            <img src="assets/icons/image.png" width="20px" height="20px"/>
        </button>
    </div>
    <div class="form-group" ng-if="!$ctrl.featureProperties"
        ng-include="'scripts/routes/edit/aside_drawing_properties.html'">
    </div>
</div>


<div class="form-group" ng-if="$ctrl.featureProperties"
    ng-include="'scripts/routes/edit/aside_drawing_feature_properties.html'">
</div>
