<h3>
    <span class="fa fa-map" aria-hidden="true"></span>
    Carte
</h3>

<div class="col-xs-12">
    <div class="toggle-group">
        <label for="show-map" class="toggle-label">Afficher la carte</label>
        <input class="tgl tgl-light" id="show-map" type="checkbox" ng-click="$ctrl.toggleMap()" checked>
        <label class="tgl-btn" for="show-map"></label>
    </div>
    <hr>
    <uib-tabset active="activeJustified" justified="true">
        <uib-tab index="0">
            <uib-tab-heading>
                <span class="fa fa-circle" aria-hidden="true"></span>
                POI
            </uib-tab-heading>
            <div ng-include="'scripts/routes/edit/aside_map_poi_creation.html'"></div>
        </uib-tab>
        <uib-tab index="1">
            <uib-tab-heading>
                <span class="fa fa-search" aria-hidden="true"></span>
                Adresses
            </uib-tab-heading>
            <div ng-include="'scripts/routes/edit/aside_map_address.html'"></div>
        </uib-tab>
        <uib-tab index="2">
            <uib-tab-heading>
                <span class="fa fa-cloud-download" aria-hidden="true"></span>
                Data&nbsp;OSM
            </uib-tab-heading>
            <div ng-include="'scripts/routes/edit/aside_map_feature_creation.html'"></div>
        </uib-tab>
        <uib-tab index="3">
            <uib-tab-heading>
                <span class="fa fa-list" aria-hidden="true"></span>
                Listing
            </uib-tab-heading>
            <div ng-include="'scripts/routes/edit/aside_map_feature_management.html'"></div>
        </uib-tab>
    </uib-tabset>
</div>

        <!-- rotate slider, not ready to use -->
        <!--<div class="form-group col-xs-12">
            <label>Rotation</label>
            <div class="input-group">
                <span class="input-group-addon">
                <span class="fa fa-repeat" aria-hidden="true"></span>
                </span>
                <slider class="form-control slider-container"
                        ng-model="$ctrl.rotationAngle"
                        ng-change="$ctrl.rotateMap($ctrl.rotationAngle)"
                        ng-disabled="! $ctrl.isMapVisible"
                        min="0"
                        max="360"
                        ></slider>
            </div>
        </div>-->

    <!-- <div class="form-group col-md-6 text-center">
        <button class="btn btn-primary btn-tile"
                ng-class="{ 'active' : $ctrl.isPoiCreationVisible }"
                ng-click="$ctrl.displayAddPOIForm()">
            <span class="fa fa-plus-circle" aria-hidden="true"></span><br/>
            POI
        </button>
    </div>

    <div class="form-group col-md-6 text-center">
        <button class="btn btn-primary btn-tile"
                ng-class="{ 'active' : $ctrl.isAddressVisible }"
                ng-click="$ctrl.displaySearchAddressForm()">
            <span class="fa fa-search" aria-hidden="true"></span><br/>
            Adresses
        </button>
    </div>

    <div class="form-group col-md-6 text-center">
        <button class="btn btn-primary btn-tile"
                ng-class="{ 'active' : $ctrl.isFeatureCreationVisible }"
                ng-click="$ctrl.displayGetDataFromOSMForm()">
            <span class="fa fa-cloud-download" aria-hidden="true"></span> <br/>
            Data OSM
        </button>
    </div>

    <div class="form-group col-md-6 text-center">
        <button class="btn btn-default btn-tile"
                ng-class="{ 'active' : $ctrl.isFeatureManagementVisible }"
                ng-click="$ctrl.displayFeatureManagement()">
            <span class="fa fa-list" aria-hidden="true"></span> <br/>
            Listing
        </button>
    </div> -->