
<label>Propriétés de l'objet {{$ctrl.featureProperties['data-type']}}</label>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Propriété</th>
            <th>Valeur</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="property in $ctrl.properties | filter:$ctrl.filterProperty">
            <td>{{property.name}}</td>
            <td >
                <input type="text" class="form-control"
                    ng-model="$ctrl.featureProperties[property.name]"
                    ng-if="! property.isStyle && ! property.isColor"
                    ng-change="$ctrl.updateProperties()">
            </td>
        </tr>
    </tbody>
</table>