<a href="/#/" class="logo">
    <img src="assets/images/logos/accessimap_logo.png">
</a>

<form class="row">

    <div class="form-group col-xs-12">
        <label>Titre</label>
        <input type="text"
            ng-model="$ctrl.model.title"
            class="form-control input-lg">
    </div>

    <div class="form-group col-xs-12">
        <label>Format du dessin</label>
        <select
            ng-model="$ctrl.model.mapFormat"
            ng-change="$ctrl.changeDrawingFormat($ctrl.model.mapFormat)"
            class="form-control"
            ng-options="format as data.name for (format, data) in $ctrl.formats">
        </select>
    </div>

    <div class="form-group col-xs-12">
        <label>Trame de fond</label>

        <button class="btn btn-primary btn-block"
            ng-click="$ctrl.displayBackgroundParameters()">
            <span class="fa fa-lg fa-picture-o" aria-hidden="true"></span>
            Configurer le fond&nbsp;
        </button>
    </div>

    <div class="form-group col-xs-12">
        <label>Etat de la zone de dessin</label>
        <br>
        <div class="btn-group">
            <!-- Drawing -->
            <button class="btn btn-default"
                    ng-class="{ 'active' : $ctrl.isDrawingFreezed }"
                    disabled>
                Figée
            </button>
            <!-- Legend -->
            <button class="btn btn-default"
                    ng-class="{ 'active' : ! $ctrl.isDrawingFreezed }"
                    disabled>
                Non figée
            </button>
        </div>
<!--
        <ui-select
            ng-model="$ctrl.mapFormat"
            theme="bootstrap"
            class="form-control style-selector">

            <ui-select-match placeholder="Sélectionnez un format">{{$ctrl.mapFormat.name}}</ui-select-match>
            <ui-select-choices repeat="item in $ctrl.formats">
                <div ng-bind-html="item.name | highlight: $select.search"></div>
            </ui-select-choices>

        </ui-select>
-->
    </div>


    <div class="form-group col-xs-12">
        <label>Edition</label>
    </div>

    <div class="form-group col-md-6 text-center">
        <button class="btn btn-primary btn-tile"
                ng-click="$ctrl.displayDrawingParameters()">
            <span class="fa fa-lg fa-pencil" aria-hidden="true"></span>
            <br/>
            Dessin
        </button>
    </div>

    <div class="form-group col-md-6 text-center">
        <button class="btn btn-primary btn-tile"
                ng-click="$ctrl.displayMapParameters()">
            <span class="fa fa-lg fa-map-o" aria-hidden="true"></span>
            <br/>
            Carte
        </button>
    </div>

    <div class="form-group col-md-6 text-center">
        <button class="btn btn-primary btn-tile"
                ng-click="$ctrl.displayLegendParameters()">
            <span class="fa fa-lg fa-braille" aria-hidden="true"></span>
            <br/>
            Légende
        </button>
    </div>

    <div class="form-group col-md-6 text-center">
        <button class="btn btn-primary btn-tile"
                ng-click="$ctrl.displayInteractionParameters()">
            <span class="fa fa-lg fa-hand-pointer-o" aria-hidden="true"></span>
            <br/>
            Interaction
        </button>
    </div>

    <!-- reset view -->
    <div class="form-group col-md-6 text-center">
        <button class="btn btn-default btn-tile"
                ng-click="$ctrl.resetView()">
            <span class="fa fa-arrows-alt" aria-hidden="true"></span> <br/>
            Recentrer
        </button>
    </div>

    <div class="form-group col-xs-12">
        <label>Commentaires de transcription</label>
        <textarea
            class="form-control"
            ng-model="$ctrl.model.comment"
            rows="10"
            style="resize:none"
            id="comment">
        </textarea>
    </div>

    <div class="form-group col-xs-12">
        <label>Importer un DER (svg/zip)</label>
        <input
        onchange="angular.element(this).scope().$ctrl.importDER(this)"
        type="file"
        accept="image/svg+xml,application/zip"
        name="Importer"/>
    </div>

    <div class="form-group col-xs-12 ">
        <label>Exporter</label>
        <button
            class="btn btn-success btn-block text-center"
            ng-click="$ctrl.exportData()"
            type="button">
            <span class="fa fa-lg fa-download" aria-hidden="true"></span>
            Exporter
        </button>
    </div>

</form>
