<header class="editor-header">
    <a ng-href="#/" class="logo">
        <img src="assets/images/logos/logo.svg">
        <span class="title">Éditeur</span>
    </a>
    <div class="der-title">
        <input type="text"
        ng-model="$ctrl.model.title"
        class="form-control input-lg">
    </div>

    <div class="state-buttons">
        <div class="form-group">
            <button
                class="btn btn-default"
                ng-click="$ctrl.undo()"
                ng-disabled="!$root.isUndoable"
                aria-label="Annuler la dernière action" title="Annuler la dernière action (Ctrl+Z)">
                <span class="fa fa-lg fa-undo" aria-hidden="true" ></span>
                Annuler
            </button>

            <button
                class="btn btn-default"
                ng-click="$ctrl.redo()"
                ng-disabled="!$root.isRedoable"
                aria-label="Annuler la dernière action" title="Annuler la dernière action (Ctrl+Y)">
                <span class="fa fa-lg fa-repeat" aria-hidden="true" ></span>
                Restaurer
            </button>
        </div>
    </div>
</header>
<div class="aside-menu" ng-class="{'expand': $ctrl.expandedMenu}">

    <div class="main-menu btn-group-vertical"> 
        <button class="btn btn-info"
                ng-class="{'active': $ctrl.panel === 'draw'}"
                ng-click="$ctrl.displayDrawingParameters()"
                tooltip-placement="right" uib-tooltip="Dessin">
            <span class="fa fa-lg fa-pencil" aria-hidden="true"></span>
            <span class="text">Dessin</span>
        </button>

        <button class="btn btn-info"
                ng-class="{'active': $ctrl.panel === 'map'}"
                ng-click="$ctrl.displayMapParameters();"
                tooltip-placement="right" uib-tooltip="Carte">
            <span class="fa fa-lg fa-map-o" aria-hidden="true"></span>
            <span class="text">Carte</span>
        </button>

        <button class="btn btn-info"
                ng-class="{'active': $ctrl.panel === 'interaction'}"
                ng-click="$ctrl.displayInteractionParameters()"
                tooltip-placement="right" uib-tooltip="Interaction">
            <span class="fa fa-lg fa-hand-pointer-o" aria-hidden="true"></span>
            <span class="text">Interaction</span>
        </button>

        <button class="btn btn-info"
                ng-class="{'active': $ctrl.panel === 'legend'}"
                ng-click="$ctrl.displayLegendParameters()"
                tooltip-placement="right" uib-tooltip="Légende">
            <span class="fa fa-lg fa-braille" aria-hidden="true"></span>
            <span class="text">Légende</span>
        </button>

        <button class="btn btn-info"
                ng-click="$ctrl.resetView()"
                tooltip-placement="right" uib-tooltip="Recentrer">
            <span class="fa fa-arrows-alt" aria-hidden="true"></span>
            <span class="text">Recentrer</span>
        </button>

        <button
            class="btn btn-info"
            ng-class="{'active': $ctrl.panel === 'parameters'}"
            ng-click="$ctrl.displayParameters()"
            aria-label="Paramètres"
            tooltip-placement="right" uib-tooltip="Paramètres">
            <span class="fa fa-lg fa-wrench" aria-hidden="true" ></span>
            <span class="text">Paramètres</span>
        </button>

    </div>

    <div class="export-menu btn-group-vertical"> 
        <button
            class="btn btn-success"
            ng-click="$ctrl.reset()"
            aria-label="Créer un nouveau DER"
            tooltip-placement="right" uib-tooltip="Créer un nouveau DER">
            <span class="fa fa-lg fa-file-o" aria-hidden="true"></span>
            <span class="text">Nouveau</span>
        </button>

        <file-field class="btn btn-default"
            aria-label="Importer un DERi (SVG, ZIP)"
            ng-model="uploadFile"
            onchange="angular.element(this).scope().$ctrl.importDER(this.childNodes[1])"
            accept="image/svg+xml,application/zip"
            tooltip-placement="right" uib-tooltip="Importer un DERi (SVG, ZIP)">
            <span class="fa fa-lg fa-download" aria-hidden="true" ></span>
            <span class="text">Importer</span>
        </file-field>
        
        <button
            class="btn btn-default"
            ng-click="$ctrl.exportData()"
            aria-label="Exporter le DERi"
            tooltip-placement="right" uib-tooltip="Exporter le DERi">
            <span class="fa fa-lg fa-upload" aria-hidden="true" ></span>
            <span class="text">Exporter</span>
        </button>

        <button
            class="btn btn-info"
            ng-click="$ctrl.expandMenu()"
            aria-label="Détails du menu"
            tooltip-placement="right" uib-tooltip="Détails du menu">
            <span class="fa fa-lg fa-arrow-right" ng-class="{'left': $ctrl.expandedMenu}" aria-hidden="true" ></span>
            <span class="text">Expand</span>
        </button>
    </div>
</div>
