$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$header-height: 80px;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  height: 100%;
  max-height: 100%;
}

/* Space out content a bit */
body {
  display: flex;
  flex-direction: column;

  header{
    flex: none;
    height: $header-height;
  }

  footer {
    flex: none;
    height: 200px;
  }

  div[ng-view] {
    flex: 4 1 90%;
  }
}

// need to hide defs svg
#pattern,
#pattern svg {
  width: 0px;
  height: 0px;
}

.btn,
.form-control {
  border-radius: 2px;
}

.btn.btn-tile {
  height: 4em;
  width: 6em;
  font-size: 1.2em;
  padding: 0.5em;
}

div[ng-view] {
  overflow: auto;
  display: flex;
  // max-height: 100%;

  aside, main {
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
  }

  main {
    flex: 1 1 100%;

    #legend {
      height: calc(100vh - #{$header-height});
      background-color: #ddd;
      display: flex;

      svg {
        margin: auto;
        background-color: #fff;
      }
    }

    #workspace {
      height: calc(100vh - #{$header-height});
      width: auto;
    }
  }

  aside.right-side {
    border-right: 1px solid #e5e5e5;
    display: flex;
    flex-direction: column;

    div.aside-content {
      flex: 1 1 100%;
      overflow: auto;

      h4:not(.panel-title) {
        margin-top: 1em;
        border-bottom: 1px solid #e5e5e5;
      }
    }
    div.aside-footer {
      border-top: 1px solid #e5e5e5;
      text-align: right;
      padding: .5em 0 .5em 0;
    }
  }
}

footer {

  display: flex;

  div:first-child {
    border-right: 1px solid #e5e5e5;
    margin-right: 1em;
  }

  div {
    flex: 0 1 50%;
    width: 50%;

    img {
      max-height: 3em;
      max-width: 6em;
      width: auto;
      height: auto;
      vertical-align: middle;
    }
  
    ul, ul > li {
      list-style: none;
      margin: 0;
      padding:0;
    }

    table {
      width: 100%;
      max-width: 500px;
      margin: auto;
      td {
        width: 50%;
        padding-bottom: 1em;
      }
    }
  }
}

header {

  display: flex;

  h1, h2, h3, h4 {
    display: inline-block;
  }

  h1 {
    flex: 10 0 auto;
  }
  h2, h3, h4 {
    flex: 1 0 auto;
  }

}

/* Custom page header */
.header, header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer, footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
  height: auto;
  margin: auto;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header, header,
  .marketing,
  .footer, footer,
  div[ng-view] {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header, header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


@font-face {
  font-family: Braille_2007;
  src: url('../fonts/Braille_2007.ttf');
}

.braille {
  font-family: Braille_2007;
}

.panel-heading a:after {
  font-family:'Glyphicons Halflings';
  content:"\e114";
  float: right;
  color: grey;
}
.panel-heading a.collapsed:after {
  content:"\e080";
}
.panel-body {
  ul {
    padding:0 0 0 0;
    margin:0 0 0 0;
  }
  ul li {
    list-style:none;
    margin-bottom:25px;
  }
  ul li img {
    cursor: pointer;
  }
  .img-responsive {
    max-width: 100%;
  }
}

.form-inline {
  padding-bottom: 15px;
}

.icon-15px {
  width: 15px;
}

.slider-container {
  width: 200px !important;
}