svg:not(:root) {
  overflow: visible;
}

.features-list {
  padding-left: 0;
}

.map {
  position: relative;
  // overflow: hidden;
}

.layer {
  position: absolute;
}

.tile {
  pointer-events: none;
  position: absolute;
  width: 256px;
  height: 256px;
}

.style-selector {
  padding: 0;
  border: 0;
  .ui-select-match {
    .form-control {
      width: 100%;
    }
  }
}

/*
@keyframes blink {
  0%        {opacity: 1}
  40%       {opacity: 0.8}
  50%       {opacity: 0}
  60%       {opacity: 0.8}
  100%      {opacity: 1}
}

.blink {
  animation: blink 2s ease infinite;
}
*/
.menu-right {
  background-color: #EEEEEE;
}

.filters-grid {
  height: 200px;
}

.highlight {
  background-color: beige !important;
}

.edition {
  stroke-width: 2px;
  stroke: grey;
}

.ongoing {
  stroke-width: 2px;
  stroke: grey;
}

.menu-segment {
    fill: #d4d4d4;
}

.menu-segment:hover {
    fill: #e5e5e5;
}

.menu-icon {
    pointer-events: none;
}