<h3>
    <button class="btn btn-link" 
            ng-click="$ctrl.displayParameters()">
        <span class="fa fa-lg fa-arrow-left" aria-hidden="true"></span>
    </button>
    
    <span class="fa fa-pencil" aria-hidden="true"></span>
    Dessin
</h3>

<!-- editing modes -->
<div class="btn-group">
    <a 
        ng-click="$ctrl.enableDrawingMode('default')" 
        ng-class="{ 'active' : $ctrl.mode == 'default' }" 
        class="btn btn-default active">
        <span class="fa fa-hand-paper-o" aria-hidden="true"></span> 
        Consulter
    </a>
    <a 
        ng-click="$ctrl.enableDrawingMode('undo')" 
        ng-class="{ 'active' : $ctrl.mode == 'undo', 'disabled' : !$ctrl.isUndoAvailable() }" 
        class="btn btn-default">
        <span class="fa fa-undo" aria-hidden="true"></span> 
        Annuler
    </a>
</div>

<div class="btn-group">
   <a 
        ng-click="$ctrl.enableDrawingMode('point')" 
        ng-class="{ 'active' : $ctrl.mode == 'point' }" 
        class="btn btn-default">
        <span class="fa fa-map-marker" aria-hidden="true"></span> 
        Point
    </a>
    <a 
        ng-click="$ctrl.enableDrawingMode('line')" 
        ng-class="{ 'active' : $ctrl.mode == 'line' }" 
        class="btn btn-default">
        <span class="fa fa-pencil" aria-hidden="true"></span> 
        Ligne
    </a>
    <a 
        ng-click="$ctrl.enableDrawingMode('circle')" 
        ng-class="{ 'active' : $ctrl.mode == 'circle' }" 
        class="btn btn-default">
        <span class="fa fa-pencil" aria-hidden="true"></span> 
        Cercle / Ellipses
    </a>
    <a 
        ng-click="$ctrl.enableDrawingMode('square')" 
        ng-class="{ 'active' : $ctrl.mode == 'square' }" 
        class="btn btn-default">
        <span class="fa fa-pencil" aria-hidden="true"></span> 
        Carré / Rectangle
    </a>
    <a 
        ng-click="$ctrl.enableDrawingMode('polygon')" 
        ng-class="{ 'active' : $ctrl.mode == 'polygon' }" 
        class="btn btn-default">
        <span class="fa fa-pencil" aria-hidden="true"></span> 
        Polygone
    </a>
    <a 
        ng-click="$ctrl.enableDrawingMode('addtext')" 
        ng-class="{ 'active' : $ctrl.mode == 'addtext' }" 
        class="btn btn-default">
        <span class="fa fa-font" aria-hidden="true"></span> 
        Texte
    </a>
</div>

<!-- reset view -->
<div class="btn-group">
    <a ng-click="$ctrl.resetView()" class="btn btn-default">
        <span class="fa fa-arrows-alt" aria-hidden="true"></span> 
        Recentrer
    </a>
</div>
<form>

    <p ng-if="$ctrl.mode !== 'point' && $ctrl.mode !== 'line' && $ctrl.mode !== 'polygon' && $ctrl.mode !== 'circle'">
    Choisissez un outil de dessin pour paramétrer le style, la couleur, ...
    </p>

    <div 
        class="form-group"
        ng-if="$ctrl.mode === 'point' || $ctrl.mode === 'line' || $ctrl.mode === 'polygon' || $ctrl.mode === 'circle'">
        <label>Style</label>
        <ui-select 
            ng-model="$ctrl.styleChosen" 
            ng-change="$ctrl.updatePolygonStyle()" 
            ng-disabled="disabled" 
            theme="bootstrap" 
            class="form-control style-selector">
            
            <ui-select-match placeholder="Sélectionnez un style">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="item in $ctrl.styleChoices | filter: $select.search">
                <div ng-bind-html="item.name | highlight: $select.search"></div>
                <div ng-bind-html="$ctrl.featureIcon(item, $ctrl.mode)"></div>
            </ui-select-choices>

        </ui-select>
    </div>


    <div 
        class="form-group" 
        ng-if="$ctrl.mode === 'polygon' || $ctrl.mode === 'circle'" >
        <label>Couleur de fond</label>
        <ui-select 
            ng-model="$ctrl.colorChosen" 
            ng-change="$ctrl.changeColor()" 
            ng-disabled="disabled" 
            theme="bootstrap" 
            class="form-control style-selector">
            
            <ui-select-match placeholder="Couleur de fond">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices 
                repeat="item in $ctrl.colors | filter: $select.search" 
                style="max-height: 500px;">
                <span 
                    style="display:inline-block;" 
                    ng-bind-html="item.name | highlight: $select.search"></span>
            </ui-select-choices>

        </ui-select>
    </div>
    
    <div class="form-group" ng-if="$ctrl.mode === 'polygon' || $ctrl.mode === 'circle'" >
        <label>Contour de forme</label>
        <span 
            class="input-group-addon">
            
            <input 
                type="checkbox" 
                ng-model="$ctrl.checkboxModel.contour" 
                ng-change="$ctrl.updatePolygonStyle()">
        </span>
    </div>

    <div 
        class="form-group"
        ng-if="$ctrl.mode === 'addtext'" >
        <label>Police</label>
        <ui-select 
            ng-model="$ctrl.fontChosen" 
            ng-change="$ctrl.changeTextColor()" 
            theme="bootstrap" 
            class="form-control style-selector">

            <ui-select-match placeholder="Sélectionnez une police">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="item in $ctrl.fonts | filter: $select.search">
                <div ng-bind-html="item.name | highlight: $select.search"></div>
            </ui-select-choices>

        </ui-select>
    </div>


    <div 
        class="form-group"
        ng-if="$ctrl.mode === 'addtext'" >
        <label>Couleur</label>
        <ui-select 
            ng-model="$ctrl.fontColorChosen" 
            theme="bootstrap" 
            class="form-control style-selector" >

            <ui-select-match placeholder="Sélectionnez une couleur">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="item in $ctrl.fontColors[$ctrl.fontChosen.color] | filter: $select.search">
                <div ng-bind-html="item.name | highlight: $select.search"></div>
            </ui-select-choices>

        </ui-select>
    </div>

</form>