<!-- aside -->
<aside class="col-lg-3 col-md-4 col-sm-4 right-side" ng-show="$ctrl.isAsideVisible">
    <div class="aside-content" 
        ng-include="'scripts/views/localmap/aside.html'"></div>
    <div class="aside-footer">
        <button 
            class="btn btn-success btn-block" 
            ng-click="$ctrl.nextStep()" 
            type="button">
            <span class="glyphicon glyphicon-chevron-right" 
                    aria-hidden="true"></span>
            Passer à l'étape d'édition
        </button>
    </div>

</aside>

<!-- maps & legend divs -->
<main>
<!--
    <div class="pull-left">
        <button 
            class="btn btn-default" 
            ng-click="$ctrl.showAside()" 
            ng-show="!$ctrl.isAsideVisible">
            <span class="fa fa-lg fa-bars"></span>
        </button>
    </div>-->
    <aside class="toolbox">
        <div class="btn-group pull-right">
            <a class="btn btn-default" 
                ng-class="{ 'active' : $ctrl.isMapVisible }"
                ng-click="$ctrl.showMap()">
                Carte
            </a>
            <a class="btn btn-default" 
                ng-class="{ 'active' : $ctrl.isLegendVisible }" 
                ng-click="$ctrl.showLegend()">
                Légende
            </a>
        </div>
    </aside>
    <div id="map" ng-show="$ctrl.isMapVisible"></div>
    <div id="legend" ng-show="$ctrl.isLegendVisible"></div>
</main>

<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
