<form name="map-format-input" class="form-inline">
    <div class="form-group">
        <label >Carte</label>
        <select 
            ng-model="$ctrl.mapFormat" 
            class="form-control" 
            ng-options="format as data.name for (format, data) in $ctrl.formats">
        </select>
        
        <label >Légende</label>
        <select 
            ng-model="$ctrl.legendFormat" 
            class="form-control" 
            ng-options="format as data.name for (format, data) in $ctrl.formats">
        </select>

    </div>
</form>

<form class="form-inline">
    <div class="form-group">
        <button 
            type="button" 
            class="btn btn-default btn-lg" 
            ng-click="$ctrl.goToBlankPage()">Page blanche</button>

        <button 
            type="button" 
            class="btn btn-default btn-lg" 
            ng-click="$ctrl.goToLocalMap()">Carte locale</button>

        <button 
            type="button" 
            class="btn btn-default btn-lg" 
            ng-click="$ctrl.goToExistingFile()">Utiliser un fichier existant</button>
    </div>
</form>