<form class="form-inline">
  <div class="btn-group">
    <a ng-click="mode = 'default'" ng-class="{ 'active' : mode == 'default' }" class="btn btn-primary active">
      Consulter
    </a>
    <a ng-click="mode = 'undo'" ng-class="{ 'active' : mode == 'undo', 'disabled' : !deletedFeature }" class="btn btn-primary">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Annuler
    </a>
    <a ng-click="mode = 'delete'" ng-class="{ 'active' : mode == 'delete' }" class="btn btn-primary">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Supprimer un élément
    </a>
    <a ng-click="mode = 'move'" ng-class="{ 'active' : mode == 'move' }" class="btn btn-primary">
      <span class="glyphicon glyphicon-move" aria-hidden="true"></span> Déplacer points
    </a>
    <a ng-click="mode = 'interaction'" ng-class="{ 'active' : mode == 'interaction' }" class="btn btn-primary">
      <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Interaction
    </a>
    <a ng-click="mode = 'editpolygon'" ng-class="{ 'active' : mode == 'editpolygon' }" class="btn btn-primary">
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Modifier le style d'un polygone
    </a>
    <a ng-click="mode = 'point'" ng-class="{ 'active' : mode == 'point' }" class="btn btn-primary">
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Point
    </a>
    <a ng-click="mode = 'line'" ng-class="{ 'active' : mode == 'line' }" class="btn btn-primary">
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Ligne
    </a>
    <a ng-click="mode = 'circle'" ng-class="{ 'active' : mode == 'circle' }" class="btn btn-primary">
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Cercle
    </a>
    <a ng-click="mode = 'polygon'" ng-class="{ 'active' : mode == 'polygon' }" class="btn btn-primary">
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Polygone
    </a>
    <a ng-click="mode = 'addtext'" ng-class="{ 'active' : mode == 'addtext' }" class="btn btn-primary">
      <span class="glyphicon glyphicon-font" aria-hidden="true"></span> Texte
    </a>
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">
      Trame de fond
    </span>
    <ui-select ng-model="$parent.containerStyle" ng-change="changeContainerStyle($parent.containerStyle)" ng-disabled="disabled" theme="bootstrap" class="form-control style-selector" style="width: 200px;">
      <ui-select-match placeholder="Sélectionnez un style">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices repeat="item in containerStyleChoices | filter: $select.search">
        <div ng-bind-html="item.name | highlight: $select.search"></div>
        <div ng-bind-html="featureIcon(item, 'polygon')"></div>
      </ui-select-choices>
    </ui-select>
  </div>

  <div class="input-group">
    <ui-select ng-show="mode === 'point' || mode === 'line' || mode === 'polygon' || mode === 'editpolygon' || mode === 'circle'" ng-model="$parent.styleChosen" ng-change="updatePolygonStyle()" ng-disabled="disabled" theme="bootstrap" class="form-control style-selector" style="width: 300px;">
      <ui-select-match placeholder="Sélectionnez un style">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices repeat="item in styleChoices | filter: $select.search">
        <div ng-bind-html="item.name | highlight: $select.search"></div>
        <div ng-bind-html="featureIcon(item, mode)"></div>
      </ui-select-choices>
    </ui-select>
    <span ng-if="mode === 'polygon' || mode === 'editpolygon' || mode === 'circle'" class="input-group-addon" id="basic-addon1">
      <input type="checkbox" ng-model="checkboxModel.contour" ng-change="updatePolygonStyle()"><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
      <input type="checkbox" ng-model="checkboxModel.fill" ng-change="updatePolygonStyle()"><span class="glyphicon glyphicon-adjust" aria-hidden="true"></span>
    </span>
    <ui-select ng-show="mode === 'addtext'" ng-model="$parent.fontChosen" ng-change="changeColor()" theme="bootstrap" class="form-control style-selector" style="width: 300px;">
      <ui-select-match placeholder="Sélectionnez une police">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices repeat="item in fonts | filter: $select.search">
        <div ng-bind-html="item.name | highlight: $select.search"></div>
      </ui-select-choices>
    </ui-select>
    <ui-select ng-show="mode === 'addtext'" ng-model="$parent.colorChosen" theme="bootstrap" class="form-control style-selector" style="width: 300px;">
      <ui-select-match placeholder="Sélectionnez une couleur">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices repeat="item in colors[$parent.fontChosen.color] | filter: $select.search">
        <div ng-bind-html="item.name | highlight: $select.search"></div>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="input-group pull-right">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="$parent.filename" placeholder="Nom du fichier">
        <span class="input-group-addon" id="basic-addon2">.zip</span>
      </div>
      <span class="input-group-btn">
        <button class="btn btn-danger pull-right" ng-click="mapExport($parent.filename)" type="button">
          <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Exporter
        </button>
      </span>
  </div>
</form>

<div class="col-xs-12">

  <div class="row">
    <button class="btn btn-default pull-right" ng-hide="rightMenuVisible" ng-click="showMenu()" type="button">
      Ajouter des interactions <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    </button>
  </div>

  <div class="col-xs-6">
    <div id="der"></div>
    <div id="der-legend"></div>
    <div class="form-group">
      <label for="comment">Commentaires de transcription</label>
      <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
  </div>

  <div id="filters-container" class="col-xs-6 menu-right" ng-show="rightMenuVisible">
    <button class="btn btn-default pull-right" ng-click="hideMenu()" type="button">
      <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    </button>
    <button id="button_add" class="btn btn-success" ng-click="addFilter()">Ajouter un filtre d'interaction</button>
    <div ui-grid="interactiveFilters" ui-grid-edit ui-grid-selection ui-grid-auto-resize class="filters-grid"></div>
  </div>

</div>

