<form class="form-inline">
  <select class="form-control" ng-options="item.name for item in queryChoices" ng-model="queryChosen" ng-change="changeStyle(queryChosen)"></select>

  <ui-select ng-model="$parent.styleChosen" ng-disabled="disabled" theme="select2" class="form-control" style="width: 300px;">
    <ui-select-match placeholder="Sélectionnez un style">{{$select.selected.name}}</ui-select-match>
    <ui-select-choices repeat="item in styleChoices | filter: $select.search">
      <div ng-bind-html="item.name | highlight: $select.search"></div>
      <div ng-bind-html="featureIcon(item)"></div>
    </ui-select-choices>
  </ui-select>

  <button class="btn btn-primary" ng-click="downloadData()" type="button">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Ajouter à la carte
  </button>
  <button class="btn btn-success" ng-click="mapCommon()" type="button">
    <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Next
  </button>
</form>

<div id="map"></div>

<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
