<form class="form-inline">

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">
      <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
    </span>
    <input ui-keypress="{13:'zoomOnPlace($event)'}" type="text" class="form-control" id="adress" placeholder="Adresse">
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">
      <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
    </span>
    <slider class="form-control" ng-model="rotationAngle" ng-change="rotateMap()" min="0" max="360"></slider>
  </div>

  <button class="btn btn-success" ng-click="mapCommon()" type="button">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Édition
  </button>
</form>

<form class="form-inline">
  <ui-select ng-model="$parent.queryChosen" ng-disabled="disabled" ng-change="changeStyle()" theme="bootstrap" class="form-control style-selector" style="width: 200px;">
    <ui-select-match placeholder="Sélectionnez un élément">{{$select.selected.name}}</ui-select-match>
    <ui-select-choices repeat="item in queryChoices | filter: $select.search | layerNotSelected:this.$parent.geojson | orderBy:['icon','type']">
      <i class="icon-15px fa fa-{{item.icon}}"></i>
      <i ng-if="item.type === 'point'" class="icon-15px fa fa-map-marker"></i>
      <i ng-if="item.type === 'line'" class="icon-15px fa fa-minus"></i>
      <i ng-if="item.type === 'polygon'" class="icon-15px fa fa-square-o"></i>
      <span ng-bind-html="item.name | highlight: $select.search"></span>
    </ui-select-choices>
  </ui-select>

  <div class="input-group">
    <ui-select ng-model="$parent.styleChosen" ng-disabled="disabled" theme="bootstrap" class="form-control style-selector" style="width: 300px;">
      <ui-select-match placeholder="Sélectionnez un style">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices repeat="item in styleChoices | filter: $select.search">
        <div ng-bind-html="item.name | highlight: $select.search"></div>
        <div ng-bind-html="featureIcon(item, queryChosen.type)"></div>
      </ui-select-choices>
    </ui-select>
    <span ng-if="queryChosen.type === 'polygon'" class="input-group-addon" id="basic-addon1">
      <input type="checkbox" ng-model="checkboxModel.contour"><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
      <input type="checkbox" ng-model="checkboxModel.fill"><span class="glyphicon glyphicon-adjust" aria-hidden="true"></span>
    </span>
  </div>

  <button ng-if="queryChosen.id !== 'poi'" class="btn btn-primary" ng-click="downloadData()" type="button">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Ajouter à la carte
  </button>

  <button ng-if="queryChosen.id === 'poi'" class="btn btn-success" ng-click="downloadPoi()" type="button">
    <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Ajouter POI
  </button>
</form>

<ul>
  <li ng-repeat="feature in geojson" class="form-inline">
    {{feature.name}}
    <slider class="form-control" ng-model="feature.simplification" ng-show="feature.geometryType !== 'point'" ng-change="simplifyFeatures(feature)" min="0" max="100"></slider>
    <div class="input-group">
      <ui-select ng-model="feature.style" ng-disabled="disabled" ng-change="updateFeature(feature.id, feature.style)" theme="bootstrap" class="form-control style-selector" style="width: 150px;">
        <ui-select-match placeholder="Sélectionnez un style">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="item in feature.styleChoices | filter: $select.search">
          <div ng-bind-html="item.name | highlight: $select.search"></div>
          <div ng-bind-html="featureIcon(item, feature.geometryType)"></div>
        </ui-select-choices>
      </ui-select>
      <slider ng-if="feature.geometryType === 'point'" class="form-control" ng-model="feature.rotation" ng-change="rotateFeature(feature)" min="0" max="360"></slider>
      <span ng-if="feature.geometryType === 'polygon'" class="input-group-addon" id="basic-addon1">
        <input type="checkbox" ng-model="feature.contour" ng-change="updateFeature(feature.id, feature.style)"><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
        <input type="checkbox" ng-model="feature.fill" ng-change="updateFeature(feature.id, feature.style)"><span class="glyphicon glyphicon-adjust" aria-hidden="true"></span>
      </span>
    </div>
    <button class="btn btn-default" type="button" ng-click="removeFeature(feature.id)"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button>
  </li>
</ul>

<div id="map"></div>
<div id="legend"></div>

<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
