<form class="form-inline">

  <ui-select ng-model="$parent.queryChosen" ng-disabled="disabled" ng-change="changeStyle(queryChosen)" theme="bootstrap" class="form-control style-selector" style="width: 200px;">
    <ui-select-match placeholder="Sélectionnez un élément">{{$select.selected.name}}</ui-select-match>
    <ui-select-choices repeat="item in queryChoices | filter: $select.search">
      <div ng-bind-html="item.name | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>

  <ui-select ng-model="$parent.styleChosen" ng-disabled="disabled" theme="bootstrap" class="form-control style-selector" style="width: 300px;">
    <ui-select-match placeholder="Sélectionnez un style">{{$select.selected.name}}</ui-select-match>
    <ui-select-choices repeat="item in styleChoices | filter: $select.search">
      <div ng-bind-html="item.name | highlight: $select.search"></div>
      <div ng-bind-html="featureIcon(item, queryChosen.type)"></div>
    </ui-select-choices>
  </ui-select>

  <slider class="form-control"  ng-model="rotationAngle" ng-change="rotateMap()" min="0" max="360"></slider>

  <button class="btn btn-primary" ng-click="downloadData()" type="button">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Ajouter à la carte
  </button>
  <button class="btn btn-success" ng-click="mapCommon()" type="button">
    <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Next
  </button>

</form>

<div id="map"></div>

<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
