<form name="map-format-input" class="form-inline">
  <div class="form-group">
    <label >Carte</label>
    <select ng-model="mapFormat" class="form-control">
      <option ng-repeat="(format, data) in formats" value="{{format}}">{{data.name}}</option>
    </select>
    <label >Légende</label>
    <select ng-model="legendFormat" class="form-control">
      <option ng-repeat="(format, data) in formats" value="{{format}}">{{data.name}}</option>
    </select>
  </div>
</form>
<form class="form-inline">
  <div class="form-group">
    <button type="button" class="btn btn-default btn-lg" ng-click="go('/localmap')">Carte locale</button>
    <button type="button" class="btn btn-default btn-lg" ng-click="go('/globalmap')">Partir d'un SVG</button>
  </div>
</form>