<form name="map-format-input" class="form-inline">
  <div class="form-group">
    <label >Carte</label>
    <input type="radio" ng-model="mapFormat" value="landscape">Paysage</input>
    <input type="radio" ng-model="mapFormat" value="portrait">Portrait</input>
  </div>
</form>
<form name="map-format-input" class="form-inline">
  <div class="form-group">
    <label >Légende</label>
    <input type="radio" ng-model="legendFormat" value="landscape">Paysage</input>
    <input type="radio" ng-model="legendFormat" value="portrait">Portrait</input>
  </div>
</form>
<p>
  <button type="button" class="btn btn-default btn-lg" ng-click="go('/localmap')">Carte locale</button>
  <button type="button" class="btn btn-default btn-lg" ng-click="go('/globalmap')">Partir d'un SVG</button>
</p>