<form class="form-inline">
  <select class="form-control" ng-options="item.name for item in queryChoices" ng-model="queryChosen"></select>
  <select class="form-control" ng-options="item.name for item in styleChoices" ng-model="styleChosen"></select>
  <button class="btn btn-primary" ng-click="downloadData()" type="button">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Ajouter à la carte
  </button>
  <button class="btn btn-success" ng-click="mapExport()" type="button">
    <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Exporter
  </button>
</form>

<div id="map"></div>

<ul>
  <li ng-repeat="layer in geojson">
    {{ layer.name }}
  </li>
</ul>

<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
